<footer class="container-fluid, lgeScrFoot">

<div class="row">
  <div class="col-4" >
   
      <p id="copyright">&copy; FlicsPlex 2018</p>
    </div>
    <div class="col-4">
<!--<div class="Social">-->

      <%= link_to (image_tag 'twitter1.png', alt: 'Twitter',:style =>"height:40px"), "https://www.twitter.com"%>
    </div>
    
    
  <div class="col-4" >
   
     
      <!--<div class="col-3" >-->
		
			<ul>
				<li class= "bmarg">Office Phone: 003531-5555555</li>
				<li class= "bmarg">Email Us: <a href="mailto:email@here.com">email@here.com</a></p> 
				<br>
      </ul>
    </div>
 
</div>
</div>
</div>

</footer>

<footer class="container-fluid, smlScrFoot">
			<ul>
				<li class= "bmarg">Office Phone: 00-353-1-5555555</li>
				<li class= "bmarg">Email Us: <a href="mailto:email@here.com">email@here.com</a></p> 
				<li class= "bmarg"><%= link_to (image_tag 'twitter1.png', alt: 'Twitter',:style =>"height:40px"), "https://www.twitter.com"%></li>
				<li class= "bmarg"> &copy; Kear's Group 2018</li>
      </ul>
				<br>
    </div>
</div>
</footer>